@font-face {
	font-family: 'paradiso-bold';
	src: url(../fonts/paradiso-bold.woff2) format('woff2');
	font-weight: bold;
}

@font-face {
	font-family: 'paradiso-lighter';
	src: url(../fonts/paradiso-3.woff2) format('woff2');
	font-weight: normal;
}

@font-face {
	font-family: 'paradiso-light';
	src: url(../fonts/paradiso-4.woff2) format('woff2');
	font-weight: normal;
}

@font-face {
	font-family: 'paradiso-normal';
	src: url(../fonts/paradiso-normal.woff2) format('woff2');
	font-weight: normal;
}



/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: var(--font-family);
	font-weight: bold;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #ffff;
	--black-color-text: #000000;
	--color-background: rgba(184, 35, 192, 255);
	--dark-color-background: rgba(117, 19, 124, 215);
	--light-color-background: rgba(157, 29, 164, 255);
	--black-color-background: #000000;
	--font-family: 'paradiso-bold';
	--normal-font-family: 'paradiso-normal';
	--light-font-family: 'paradiso-light';
	--lighter-font-family: 'paradiso-lighter';
	--color-border: #ffff;
	--white-color-underline: #ffff;
	--color-underline: #000000;
	--small-font-size: small;
	--medium-font-size: medium;
	--large-font-size: large;
	--x-large-font-size: x-large;
	--xx-large-font-size: xx-large;
	--text-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.15);
}



/***********/
/* STYLING */
/***********/

body {
	background-color: var(--color-background);
	color: var(--color-text);
	margin: 0;
	padding: 0;
}



/***************/
/*** NAV BAR ***/
/***************/

header nav:last-of-type {
	display: flex;
	justify-content: space-between;
}

header nav:last-of-type ul:first-child {
	display: flex;
	justify-content: flex-start;
}

header nav:last-of-type ul:nth-child(2) {
	display: flex;
	justify-content: flex-end;
}

header nav:last-of-type ul a {
	font-family: var(--light-font-family);
}

header nav:last-of-type ul li a {
	color: var(--color-text);
	text-decoration: none;
	font-size: var(--x-large-font-size);
}

header nav:last-of-type ul {
	list-style-type: none;
	gap: 2em;
}

header nav:last-of-type img {
	width: 1em;
}

@media (max-width: 60em) {
	header nav:last-of-type ul {
		gap: 1em;
	}

	header nav:last-of-type ul:last-child li:first-child {
		display: none;
	}

	header nav:last-of-type ul li a {
		font-size: var(--large-font-size);
	}

	header {
		padding-top: 0;
		margin-top: 0;
	}

	button {
		transform: translateY(1.5em);
	}
}





h1 {
	position: absolute;
	margin: 0;
	white-space: nowrap;
	font-size: 24.8vw;
	z-index: 5;
	overflow: hidden;
	line-height: 1.2em;
	text-shadow: var(--text-shadow);
	letter-spacing: -0.05em;
	left: 1.5rem;
	right: 2.2rem;
}

@media (max-width: 60em) {
	h1 {
		left: 0;
		right: 0;
		font-size: 38vw;
		line-height: 0.9em;
	}
}





/****************/
/* 1E SECTION */
/****************/

section:first-of-type {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0;
	grid-template-rows: 32vw 10vw 30vw;
	padding: 14vw 3.2em 2em 3em;
}

@media (max-width: 60em) {
	section:first-of-type {
		display: block;
		padding: 10.5vw 0.85em 2em 0.85em;
	}
}

section:first-of-type article:first-of-type {
	grid-row-start: 1;
	grid-column: span 2;
	position: relative;
	grid-column-end: 3;
	grid-row-end: 3;
}

section:first-of-type article:nth-of-type(2) {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	position: relative;
}

section:first-of-type article:nth-of-type(3) {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	position: relative;
}

section:first-of-type article:nth-of-type(4) {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	position: relative;
}

section:first-of-type article:last-of-type {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
	position: relative;
}

section:first-of-type article img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 60em) {
	section:first-of-type article img {
		max-height: 100%;
		padding-top: 1em;
	}

	section:first-of-type article img:hover {
		transform: none;
	}
}

section:first-of-type div {
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	/* text-indent: 0; */
	bottom: 1em;
	left: 1.5em;
	right: 1.5em;
	font-family: var(--light-font-family);
	z-index: 1;
}

section:first-of-type div h3 {
	font-size: 2.2em;
	margin: 0;
	order: 3;
}

section:first-of-type div p {
	font-size: var(--large-font-size);
	font-family: var(--light-font-family);
	order: 1;
}

section:first-of-type p:first-of-type {
	font-size: 0.9em;
	border-radius: 2em;
	background-color: var(--black-color-background);
	padding: 0.3em 1em 0.3em 1em;
	font-family: var(--light-font-family);
	order: 2;
}

section:first-of-type p:last-of-type {
	font-size: 1.8em;
	margin: 0;
	order: 4;
}





/************************/
/* IMAGES 1E/2E SECTION */
/************************/

section article,
section:nth-of-type(2) ul li {
	overflow: hidden;
}

section article img,
section:nth-of-type(2) ul li img {
	transition: transform 0.5s ease;
}

section article img:hover,
section:nth-of-type(2) ul li img:hover {
	transform: scale(1.05);
}





h2:first-of-type {
	font-size: 17.55vw;
	position: relative;
	margin: 0;
	z-index: 1;
	overflow: hidden;
	text-indent: 0.12em;
	white-space: nowrap;
	letter-spacing: -0.05em;
}

@media (max-width: 60em) {
	h2:first-of-type {
		font-size: 10em;
		text-indent: 0.02em;
	}
}





/****************/
/* 2E SECTION */
/****************/

h2:last-of-type {
	font-size: 1.5em;
	text-indent: 2em;
	margin-bottom: 0;
	font-family: var(--normal-font-family);
}

@media (max-width: 60em) {
	h2:last-of-type {
		font-size: 1.6em;
		text-indent: 0.6em;
	}
}



section:nth-of-type(2) img {
	max-width: 20.2em;
}

@media (max-width: 60em) {
	section:nth-of-type(2) li img {
		width: 28em;
		padding-left: 1em;
	}
}

section:nth-of-type(2) ul {
	gap: 1em;
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	flex-wrap: wrap;
}

@media (max-width: 60em) {
	section:nth-of-type(2) ul {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		overflow-x: scroll;
		gap: 0.5em;
	}
}
/* bron: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

section:nth-of-type(2) ul li,
section:first-of-type article {
	position: relative;
}

@media (max-width: 60em) {
	section:nth-of-type(2) li {
		flex: 0 0 auto;
		box-sizing: border-box;
	}
}

section:nth-of-type(2) ul div {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	position: absolute;
	bottom: 1em;
	left: 1em;
	right: 1em;
	font-family: var(--light-font-family);
	z-index: 10;
}

@media (max-width: 60em) {
	section:nth-of-type(2) ul div {
		left: 2em;
	}
}

section:nth-of-type(2) ul h3 {
	font-size: 2em;
	margin: 0;
}

section:nth-of-type(2) ul div p {
	font-size: var(--large-font-size);
	font-family: var(--light-font-family);
	margin: 0;
}

section:nth-of-type(2) li:nth-of-type(2) p:first-of-type {
	font-size: 0.9em;
	border-radius: 2em;
	background-color: var(--black-color-background);
	padding: 0.2em 1em 0.2em 1em;
	font-family: var(--light-font-family);
	order: -1;
}

section:nth-of-type(2) li:nth-of-type(2) div:nth-of-type(2) {
	display: flex;
	flex-direction: row;
}

section:nth-of-type(2) li:nth-of-type(2) div:nth-of-type(2) h3 {
	order: 1;
}

section:nth-of-type(2) li:nth-of-type(2) div:nth-of-type(2) p:first-of-type {
	order: 2;
}

section:nth-of-type(2) li:nth-of-type(2) div:nth-of-type(2) p:last-of-type {
	order: 3;
}





/**************/
/* 3E SECTION */
/**************/

main div:last-of-type ul {
	text-indent: 3em;
}

main div:last-of-type ul {
	display: flex;
	justify-content: flex-start;
	list-style: none;
	padding: 3rem;
	gap: 0.5em;
}

@media (max-width: 60em) {
	main div:last-of-type ul {
		padding: 1rem;
		flex-wrap: wrap;
	}
}

main div:last-of-type ul li button {
	position: relative;
	font-family: var(--normal-font-family);
	display: flex;
}

main div:last-of-type ul button {
	background-color: var(--light-color-background);
	color: var(--color-text);
	border: none;
	padding: 1.1em 2em;
	font-size: var(--medium-font-size);
}

@media (max-width: 60em) {
	main div:last-of-type ul button {
		padding: 0.8em 1.5em;
		font-size: 80%;
	}
}

main div:last-of-type ul li:first-of-type button {
	background-color: var(--dark-color-background);
}

main div:last-of-type ul button:hover {
	background-color: var(--dark-color-background);
}