@font-face {
	font-family: 'paradiso-bold';
	src: url(../fonts/paradiso-bold.woff2) format('woff2');
	font-weight: bold;
}

@font-face {
	font-family: 'paradiso-lighter';
	src: url(../fonts/paradiso-3.woff2) format('woff2');
	font-weight: normal;
}

@font-face {
	font-family: 'paradiso-light';
	src: url(../fonts/paradiso-4.woff2) format('woff2');
	font-weight: normal;
}

@font-face {
	font-family: 'paradiso-normal';
	src: url(../fonts/paradiso-normal.woff2) format('woff2');
	font-weight: normal;
}



/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: var(--font-family);
	font-weight: bold;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #ffff;
	--black-color-text: #000000;
	--color-background: rgba(184, 35, 192, 255);
	--dark-color-background: rgba(117, 19, 124, 215);
	--light-color-background: rgba(157, 29, 164, 255);
	--lighter-color-background: rgba(230, 170, 230, 255);
	--black-color-background: #000000;
	--font-family: 'paradiso-bold';
	--normal-font-family: 'paradiso-normal';
	--light-font-family: 'paradiso-light';
	--lighter-font-family: 'paradiso-lighter';
	--color-border: #ffff;
	--white-color-underline: #ffff;
	--color-underline: #000000;
	--small-font-size: small;
	--medium-font-size: medium;
	--large-font-size: large;
	--x-large-font-size: x-large;
	--xx-large-font-size: xx-large;
	--text-shadow: 0.1em 0 0.25em rgba(0, 0, 0, 0.15);
}



/***********/
/* STYLING */
/***********/

body {
	background-color: var(--color-background);
	color: var(--color-text);
	margin: 0;
	padding: 0;
}



/***************/
/*** NAV BAR ***/
/***************/

header nav:last-of-type {
	display: flex;
	justify-content: space-between;
}

header nav:last-of-type ul:first-child {
	display: flex;
}

header nav:last-of-type ul:nth-child(2) {
	display: flex;
	align-items: flex-start;
}

header nav:last-of-type ul a {
	font-family: var(--light-font-family);
}

header nav:last-of-type ul li a {
	color: var(--color-text);
	text-decoration: none;
	font-size: var(--large-font-size);
}

header nav:last-of-type ul {
	gap: 1em;
	list-style-type: none;
}

button {
	transform: translateY(1.6em);
}

@media (min-width: 40em) {
	header nav:last-of-type ul {
		gap: 2em;
	}

	header nav:last-of-type ul li a {
		font-size: var(--x-large-font-size);
	}

	header nav:last-of-type ul div:last-of-type {
		gap:0;
	}

	button {
		transform: none;
		transform: translateY(1.7em);
	}
}

header {
	margin-top: 0;
}





h1 {
	position: absolute;
	margin: 0;
	white-space: nowrap;
	z-index: 5;
	overflow: hidden;
	text-shadow: var(--text-shadow);
	letter-spacing: -0.05em;
	left: 0;
	right: 0;
	font-size: 38vw;
	line-height: 0.9em;
}

@media (min-width: 60em) {
	h1 {
		left: 1.45rem;
		right: 2.2rem;
		line-height: 1.1em;
		font-size: 24.75vw;
	}
}





/****************/
/* 1E SECTION */
/****************/

main>section:first-of-type {
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0;
	grid-template-rows: 32vw 10vw 30vw;
	display: block;
	padding: 14.5vw 0.85em 2em 0.85em;
}

@media (min-width: 60em) {
	main>section:first-of-type {
		display: grid;
		padding: 14vw 3.2em 2em 3em;
	}
}

main>section:first-of-type article:first-of-type {
	grid-row-start: 1;
	grid-column: span 2;
	position: relative;
	grid-column-end: 3;
	grid-row-end: 3;
}

main>section:first-of-type article:nth-of-type(2) {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	position: relative;
}

main>section:first-of-type article:nth-of-type(3) {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	position: relative;
}

main>section:first-of-type article:nth-of-type(4) {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	position: relative;
}

main>section:first-of-type article:last-of-type {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
	position: relative;
}

main>section:first-of-type article img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding-top: 1em;
	transition: transform 0.5s ease;
}

@media (min-width: 40em) {
	main>section:first-of-type article img {
		max-height: 100%;
		padding-top: 0;
		transform: scale(1);
	}
	main>section:first-of-type article img:hover {
	transform: scale(1.05);
}
}

main>section:first-of-type div {
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	bottom: 1em;
	left: 1.5em;
	right: 1.5em;
	font-family: var(--light-font-family);
	z-index: 1;
}

main>section:first-of-type div h3 {
	font-size: 2.2em;
	margin: 0;
	order: 3;
}

main>section:first-of-type div p {
	font-size: var(--large-font-size);
	font-family: var(--light-font-family);
	order: 1;
}

main>section:first-of-type p:first-of-type {
	font-size: 0.9em;
	border-radius: 2em;
	background-color: var(--black-color-background);
	padding: 0.3em 1em 0.3em 1em;
	font-family: var(--light-font-family);
	order: 2;
}

main>section:first-of-type p:last-of-type {
	font-size: 1.8em;
	margin: 0;
	order: 4;
}





/************************/
/* IMAGES 1E/2E SECTION */
/************************/

section article,
section:nth-of-type(2) ul li {
	overflow: hidden;
}

section:nth-of-type(2) ul li img {
	transition: transform 0.5s ease;
	transform-origin: center bottom;
}

section:nth-of-type(2) ul li img:hover {
	transform: scale(1.05);
}


.menu-open header nav:last-of-type div button:first-child {
    transform: translateX(-5.5em);
}


h2:last-of-type {
	font-size: 18.2vw;
	position: relative;
	margin: 0;
	z-index: 1;
	overflow: hidden;
	text-indent: 0.12em;
	white-space: nowrap;
	letter-spacing: -0.05em;
	font-size: 9em;
	text-indent: 0.02em;
}

@media (min-width: 40em) {
	h2:last-of-type {
		font-size: 18.2vw;
		text-indent: 0.12em;
	}
}





/****************/
/* 2E SECTION */
/****************/

section:nth-of-type(2) section:first-of-type>h3 {
	margin-bottom: 0;
	font-family: var(--normal-font-family);
	font-size: 1.5em;
	text-indent: 0.6em;
}

@media (min-width: 40em) {
	section:nth-of-type(2) section:first-of-type>h3 {
		font-size: 1.5em;
		text-indent: 2em;
		font-size: 1.6em;
	}
}



section:nth-of-type(2)>section:first-of-type img {
	max-width: 20.2em;
}

@media (min-width: 65em) {
	section:nth-of-type(2)>section:first-of-type li img {
		width: 18em;
	}
}

@media (min-width: 75em) {
	section:nth-of-type(2)>section:first-of-type li img {
		width: 16em;
	}
}

@media (min-width: 85em) {
	section:nth-of-type(2)>section:first-of-type li img {
		width: 14em;
	}
}

@media (min-width: 60em) {
	section:nth-of-type(2)>section:first-of-type li img {
		width: 28em;
	}
}

section:nth-of-type(2)>section:first-of-type ul {
	display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		overflow-x: scroll;
		gap: 1em;
		padding-left: 1em;
}

@media (min-width: 40em) {
	section:nth-of-type(2)>section:first-of-type ul {
		gap: 1em;
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	}
}

/* bron: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

section:nth-of-type(2)>section:first-of-type ul li,
section:first-of-type article {
	flex: 0 0 auto;
	position: relative;
	overflow: hidden;
}

section:nth-of-type(2)>section:first-of-type ul div {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	position: absolute;
	bottom: 1em;
	left: 1em;
	right: 1em;
	font-family: var(--light-font-family);
	z-index: 10;
}

section:nth-of-type(2)>section:first-of-type ul h3 {
	font-size: 2em;
	margin: 0;
}

section:nth-of-type(2)>section:first-of-type ul div p {
	font-size: var(--large-font-size);
	font-family: var(--light-font-family);
	margin: 0;
}

section:nth-of-type(2)>section:first-of-type li:nth-of-type(2) p:first-of-type {
	font-size: 0.9em;
	border-radius: 2em;
	background-color: var(--black-color-background);
	padding: 0.2em 1em 0.2em 1em;
	font-family: var(--light-font-family);
	order: -1;
}

section:nth-of-type(2)>section:first-of-type li:nth-of-type(2) div:nth-of-type(2) {
	display: flex;
}

section:nth-of-type(2)>section:first-of-type li:nth-of-type(2) div:nth-of-type(2) h3 {
	order: 1;
}

section:nth-of-type(2)>section:first-of-type li:nth-of-type(2) div:nth-of-type(2) p:first-of-type {
	order: 2;
}

section:nth-of-type(2)>section:first-of-type li:nth-of-type(2) div:nth-of-type(2) p:last-of-type {
	order: 3;
}





/**************/
/* 3E SECTION */
/**************/

main form ul {
	text-indent: 3em;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	padding: 0.8em;
	gap: 0.3em;
}

@media (min-width: 40em) {
	main form ul {
		padding: 1em 0 2.5em 3em;
		gap: 0.6em;
	}
}

main form ul li button {
	position: relative;
	font-family: var(--normal-font-family);
	display: flex;
}

main form ul button {
	background-color: var(--light-color-background);
	color: var(--color-text);
	border: none;
	padding: 0.8em 1em 2.2em;
	font-size: 0.8em;
}

@media (min-width: 40em) {
	main form ul button {
		padding: 1.1em 2em 2.7em;
		font-size: var(--medium-font-size);
	}
}

main form ul li:first-of-type button {
	background-color: var(--dark-color-background);
}

main form ul button:hover {
	background-color: var(--dark-color-background);
}



section:last-of-type>section:last-child section {
	padding: 0 0.8em;
}

@media (min-width: 65em) {
	section:last-of-type>section:last-child section {
		display: grid;
		grid-template-columns: 12vw 1fr;
		padding: 0 3em 1.5em 3em;
	}

	section:last-of-type>section:last-child section:last-child {
		padding: 1em 3em 1.5em 3em;
		border-top: 0.03em solid var(--lighter-color-background);
	}
}

section:nth-of-type(2) h4 {
	font-size: var(--medium-font-size);
	margin: 0;
	padding: 0.3em 0 0.3em 0;
}

@media (min-width: 65em) {
	section:nth-of-type(2) h4 {
		font-size: var(--x-large-font-size);
	}
}

section:nth-of-type(2) section:first-of-type>h4,
section:nth-of-type(2) section:nth-of-type(2)>h4 {
	font-size: var(--xx-large-font-size);
	padding: 1em 0 0 0;
}

@media (min-width: 65em) {

	section:nth-of-type(2) section:first-of-type>h4,
	section:nth-of-type(2) section:nth-of-type(2)>h4 {
		font-size: var(--x-large-font-size);
		padding: 0.5em 0 0 0;
		color: var(--lighter-color-background);
	}
}





/*****************/
/* TABLE ELEMENT */
/*****************/

table {
	width: 100%;
}

table tr td p:first-of-type {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 10vw;
}

table td:nth-child(2) {
grid-column-start: 1;
grid-column-end: 2;
}

table td:last-child {
	text-align: right;
}

table p,
table p time {
	font-size: var(--small-font-size);
	font-family: var(--light-font-family);
	color: var(--lighter-color-background);
	margin: 0;
	padding: 0 0 0.4em 0;
	display: inline;
}

@media (min-width: 65em) {

	table p,
	table p time {
		font-size: var(--medium-font-size);
	}
}

table:hover p,
table:hover p time {
	color: var(--white-color-background);
}

table:nth-of-type(2) {
	border-top: 0.03em solid var(--lighter-color-background);
	padding: 0.3em 0 2em 0;
}

@media (min-width: 65em) {
	table:nth-of-type(2) {
		border: none;
		padding: 0 0 1em 0;
	}
}

tr {
	display: grid;
	grid-template-columns: 1fr 25vw;
}

@media (min-width: 65em) {
	section:last-of-type>section table {
		grid-column-start: 2;
		grid-column-end: 3;
	}
}

table img {
	display: none;	
}

@media (min-width: 65em) {
table td {
	transition: padding-left 0.2s ease-in-out;
  }

  table td:hover {
	padding-left: 2.5em;
  }

table img {
	display: none;
	position: absolute;
	width: 1.5em;
	padding-top: 2em;
  }

  table:hover img {
	display: block;
  }
}